body{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.player-background{
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.background-image{
    height: 120vh;
    width: 105%;
    filter: blur(1.5rem);
    -webkit-filter:blur(15px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main{
    width: 25%;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-img{
    height: 25rem;
    width: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    object-fit: fill;
}

.player{
    padding: 4rem;
    color: #111;
}

.song-title{
    width: 30rem;
    text-align: center;
    font-size: 1.5rem;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.song-buttons{
    display: inline-block;
    height: 1.5rem;
    width: 100%;
    text-align: center;
}

.btn{
    padding: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.fas{
    font-size: 2rem;
    color: #111;
    padding-left: 1rem;
    padding-right: 1rem;
}

.fa-play{
    font-size: 2.5rem;
}

.song-progress{
    width: 100%;
    margin-top: -.2rem;
    height: .5rem;
    background-color: #999;
    display: flex;
    cursor: pointer;
}

.fill{
    height: .5rem;  
    display: flex;
    background-color: #777;
}

.handle{
    width: .6rem;
    height: .6rem;
    background-color: #b3233b;
    border-radius: 50%;
    margin-left: 5rem;
    transform: scale(2);
}